Daily_Motivational_Email.json
{
  "name": "Daily Motivational Email",
  "nodes": [
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "ff2e1573-bb3d-4382-a5fa-edfe219eff8e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d20a8c12-9f72-4508-aa0c-bce871bdc4c1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "akashayyappa@gmail.com",
        "subject": "\"Your daily Motivation!\" by yeshu",
        "message": "=Good morning! Here's your quote for today:    {{ $node[\"HTTP Request\"].json[\"content\"] }}  \n— {{ $node[\"HTTP Request\"].json[\"author\"] }}    Have a great day! 🚀  ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        520,
        0
      ],
      "id": "3e3b5442-f103-4dd3-9282-f1763bd6e07c",
      "name": "Gmail",
      "webhookId": "66f6512f-b447-4625-8608-3b970b77459f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZSVYy7QAsMnNi04W",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a99eae9-6632-4ce6-87a3-11457a2c5897",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c35c50af7fdc874c1045058e521e9edbd70fabf7f72d788b9dc6c422008c76d"
  },
  "id": "NpcreZNiB9zntVay",
  "tags": []
}